*{
  margin: 0;
  padding: 0;
}
.logo{
  display: flex;
  justify-content: space-between;
  background-color: rgb(75, 168, 230);
}

.logo ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.logo ul>a{
  text-decoration: none;
  margin: 10px;
  color: #FFF;
  font-weight: bold;
}

.visuali-hidden{
  display: none;
}

.logo img{
  width: 70px;
  height: 70px;
}

.logo ul>li{
  padding: 10px;
}

.ma{
  height: 800px;
  background-image: url(./image/스누피배경.jpeg);
  background-size: cover;
  text-align: center;
  align-items: center;
}

.ma .dodo{
 
  align-items: center;
}
  
.main{
  display: flex;
  justify-content: center;
  
  
 
}

.malo > .lolo>p{
  text-align: center;
}

.ma1{
 
  text-align: center;

}

.flo{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 600px;
  top: 100px;


  

  
 
  
}

.malo{
  justify-content: center;
}
  
.lolo{
  width: 700px;
  height: 200px;
  background-color: rgb(175, 197, 223);
  margin: 20px;
  
 
}
.lolo p{
  text-align: center;
  
}


footer div{
  height: 500px;
  background-color: rgb(175, 197, 223) ;
}

.side{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 100px;
  right: 30px;
  background-color: #FFF;
  border: 1px solid black;
  box-shadow: 5px 5px 5px gray;
  

}

.side a{
  margin: 10px;
  text-decoration: none;
  color: black;
}

.popo{
  margin-top: 600px;
  height: 600px;
  background-color: rgb(98, 137, 173);
  display: flex;
  justify-content: center;
  align-items: center;
}


.sno{
  padding-top: 200px;
  width: 500px;
  height: 500px;
  background-image: url(./image/pngegg.png);
 

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  z-index: 1;
  
}